* {
    margin: 0;
    color: #FFF;
    font-family: Open, helvetica, arial, sans-serif;
    font-weight: 600;
    font-size: 10px;
}


#topbar {
    width: 100%;
    height: 72px;
    background-color: #e60012;
    padding-bottom: 1px;
}

#logo {
    padding-left: 12px;
    float: left;
}

#logo img {
    width: 114px;
    height: auto;
    position: absolute;
    top: 5px;
    left: 15px;
}

#menudroite {
    float: right;
    margin-right: 12px;
    width: fit-content;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}
#recherche {
    float: left;
    width: 70px;
    height: 100%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#recherche img {
    width: 30px;
    height: auto;
    display: block;
    position: relative;
    left: 20px;
    top: 12px;
}
#recherche a {
    display: inline-block;
    position: relative;
    top: 15px;
}

#liste {
    margin-right: 5px;
    margin-left: 5px;
    width: 70px;
    height: 100%;
    display: inline-block;
}

#liste img {
    width: 30px;
    height: auto;
    display: block;
    position: relative;
    left: 17px;
    top: 12px;
}

#liste a {
    display: inline-block;
    position: relative;
    top: 15px;
    text-align: center;
}

#connexion {
    margin-right: 5px;
    margin-left: 5px;
    width: 70px;
    height: 100%;
    display: inline-block;
    float: right;
}

#connexion img {
    display: block;
    width: 23px;
    height: auto;
    position: relative;
    left: 17px;
    top: 10px;
}

#connexion a {
    display: inline-block;
    text-align: center;
    top: 17px;
    position: relative;
}

#bargauche {
    width: 88px;
    height: 600px;
    background-color: #6F0009;
    padding-top: 1px;
}
.gauche {
    background-color: #e60012;
    margin-bottom: 1px;
    height: 88px;
}

.gauche:hover {
    background-color: #D10000;
}

#bargauche img {
    width: 35px;
    height: 35px;
    position: relative;
    top: 20px;
    left:26px;
    display: inline-block;
}

.gauche a {
    display: inline-block;
    text-align: center;
    position: relative;
}

#jeux a {
    position: relative;
    top: 30px;
    right:7px;
}

#hardware a {
    position: relative;
    top: 30px;
    right: 17px;
}

#nintendoswitchonline a {
    position: relative;
    top: 17px;
}

#courant a {
    position: relative;
    top: 17px;
}

















































